.CartTable {
    overflow-y: auto;
}

.table-view {
    height: 480px;
    overflow-y: auto;
}

.items {
    width: 200px;
}

.quantity-box {
    width: 70px;
}


hr {
    width: 90%;
    color: rgb(150, 148, 146);
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}